<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skd.androidrecordingtest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.skd.androidrecordingtest.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.skd.androidrecordingtest.AudioRecordingActivity"
            android:label="@string/audioActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.skd.androidrecordingtest.AudioPlaybackActivity"
            android:label="@string/playActivity" >
        </activity>
        <activity
            android:name="com.skd.androidrecordingtest.VideoRecordingActivity"
            android:label="@string/videoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.skd.androidrecordingtest.VideoPlaybackActivity"
            android:label="@string/playActivity" >
        </activity>
    </application>

</manifest>